xmp {
    display: inline-block;
    color: #fff;
    background: #202020;
    padding: 15px 20px;
    margin: 0px 0px 0px 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    border-radius: 4px;
}

code {
    background: #202020;
    color: #fff;
    display: inline-block;
    padding: 3px 7px;
    margin: 1px 2px;
    border-radius: 4px;
}
