/*    Commenti al codice CSS    */

/*
body {
    background: #ff0000;
}
*/

.classe {
    color: lightgrey;
}

/*
    Colori rgb — #RGB
    00_FF — Red
    00_FF — Green
    00_FF - Blue

    Colori rgba — rgba(R,G,B,A)
    1_255 — Red
    1_255 — Green
    1_255 — Blue
    0_1 (con punto) — Alpha
*/

/*
    Dimensioni:
    px - pixel
    in - inch
    vw - % larghezza schermo
    vh - % altezza schermo
*/

#identificativo {
    color: #0000ff;
    font-size: 20px;
}

#singola {
    /*display: block;
    display: inline-block;
    display: inline;
    display: inherit;
    display: none;*/
    width: 500px;
    he
    font-size: 20px;
}

a {
    width: 500px;
}

#testo-figo {
    /*background-image: url(../11/drago.jpg);*/
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 50px;
    background-color: orange;
    background-size: contain;
    /*background: url(../11/drago.jpg) no-repeat 50px 500px orange;*/

    display: block;

    width: 500px;
    height: 200px;

    overflow: scroll;
}

a {
    font-size: 40px;
    color: orange;
}

#testo-figo a {
    color: #fff;
}

#testo-figo a img {
    width: 50px;
    vertical-align: middle;
}

/*#ciao {
    color: red;
}*/

ul li:nth-child(4) {
    color: red;
}
